@import url('../../../static/meta-pro-fonts/fonts.css');

.undergraduate,
.graduate,
.graduateCertificate,
.none {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 20%;
    font-family: Meta Pro;
    font-size: 1.1rem;
    border-style: none;
    text-align: center;
}

.undergraduate {
    background: var(--undergrad-bg-color);
    color: white;
}

.graduate {
    background: var(--graduate-bg-color);
    color: white;
}

.graduateCertificate {
    background: var(--graduate-cert-bg-color);
}

.none {
    background: var(--gray-color);
    display: none;
}
