@import url('../../../static/meta-pro-fonts/fonts.css');

.degree_choice_screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: var(--widget-width);
    height: var(--widget-height);
    background-color: var(--bg-color);
    border: 1px solid black;
    border-radius: 8px;
    color: white;
}

.degree_choice_screen_text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.degree_choice_screen_text > h2,
.degree_choice_screen_text > p {
    margin: 0.5rem 0;
    font-family: Meta Pro Book;
}

.degree_choice_screen_button_div {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    height: 29%;
    margin: 3rem 0 0 0;
}
