.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
}

.widget {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: var(--widget-width);
    height: var(--widget-height);
    padding: 0.4rem;
}

.widget > h2,
.widget > p {
    color: white;
}

.widget > h2 {
    font-size: xx-large;
    font-weight: 600;
}

.widget_background {
    position: absolute;
    z-index: -1;
}
